@import url("variables.css");

.controls {
  margin-bottom: 50px;
  height: 600px;
  border-color: white;
}

.c-b{
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin: auto;
  border: 2px;
  border-color: white;
}

.size{
  width: 50%;
  display: flex;
  margin: auto;
  align-items: center;
  border: 2px;
  border-color: white;
}
.img-cont{
  width: 600px;
  height: 400px;
  border: 2px;
  border-color: white;
}
.hht-box{
  border: 2px;
  border-color: white;
}

img {
    padding: 15px;
    width: var(--wth);
    height: var(--hht);
    background: var(--base);
    filter: blur(var(--blur));
}

.hl {
    color: var(--base);
  }

  /*
    misc styles, nothing to do with CSS variables
  */

  body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 50px;
  }
  input {
    width: 100px;
  }
  #hht{
    transform: rotate(270deg);
  }

  